body{
    margin : 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: lightgray;
    color : rgb(109, 108, 108);
    box-sizing: border-box;
}

#main-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 80vh;
    background-color: white;
    overflow-x: hidden;
    position: relative;
}

#heading{
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
}

.descrip{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    font-size: .9rem;
    font-weight: 600;
    border-bottom: 1px solid;
    padding-left: 1rem;
}

#desc , #cate-date{
    width: 100%;
    padding : .8rem;
    padding-left: 0;
}

input{
    border: 0px ;
    font-size: 1.1rem;
}
select,input:focus{
    outline: none;
}

form{
    width: 100%;
    font-size: .9rem;
    display: inline-block;
}

#cate-date{
    width : 10rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    margin-right : 1rem;
    width: 100%;
    border-bottom: 1px solid;
    margin-bottom: 1rem;
}

#left-Cate{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 600;
    width: 46%;
    margin-right : 5rem;
}
#right-Date{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color :rgb(109, 108, 108);
}

#right-Date input{
    color :rgb(109, 108, 108);
}

select{
    margin-top: .6rem;
    border: 0px;
    font-size: 1rem;
    color: rgb(109, 108, 108);
}

.btn-container{
    display: flex;
    justify-content: center;


}
button{
    padding: 1rem;
    background-color: red;
    color : white;
    border: 0;
    font-size: 1rem;
}

#add-T{
    margin-right : 11rem;
    background-color: rgb(68,68,68);
}




ul{
    list-style: none;
}
.listItem{
    width: 100%;
}

.single-Task{
    display : flex;
    width: 100%;
    margin-bottom: 1rem;
    height : 2.8rem;
    font-weight: 600;
    justify-content: space-between;
}

.desAndDate{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.makeItSmall{
    font-size: .74rem;
    font-weight: 400;
}
.forCate{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: green; */
    width: 52%;

}
.innerCard{
    width : 6rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(160, 34, 160);
    color: white;
    font-weight: 400;
    font-size: .9rem;
}

.perCard{
    background-color: rgb(46, 46, 237);
}
.workCard{
    background-color: blueviolet;
}
.schCard{
    background-color: rgb(36, 180, 36);
}
.cleanCard{
    background-color: rgb(218, 56, 50);
}
.othCard{
    background-color: aqua;
}

.task-container{
    width: 95%;
    display: flex;
}
#secB{
    position: absolute;
    left : 30rem;
    top : 15.5rem;
}